
.sprintList{
     
    
    font-size:1.2em;
}
.sprintList input[type=number] {
    font-size:0.9em;
	width:100%;
	margin-left:10px;
	margin-right:10px;
    padding:5px;
    
    border: none;
    border-bottom: solid 2px rgba(33,33,33,0.6);
    transition: border 0.3s;
    background:rgba(255,255,255,0.2);
}

.sprintList input[type=number]:focus{
  border-bottom: solid 2px rgba(255,255,255,0.8);
}

.sprintList span{
        width: 80px;
    display: inline-block;
}



.sprintList table{
    width:100%;
}

.sprintList table td{
    text-align:center;
    margin:10px;
}

.sprintList table td input{
    text-align:center;
}
.sprintList table thead tr {
    margin-bottom:10px;
}
.sprintList table thead{
    border-bottom:1px solid white;
}