.stat{
 margin-left: 10px;
 padding-right: 10px;
 border-right:1px dashed #333;
 display:inline-block;
 vertical-align:middle;
}

.stat .value {
color:#fcc438;
font-size:3em;
text-align:center;
}
.stat .label {
text-align:center;
font-size:0.8em;
margin-top:-15px;
}
.stat.smaller .value{
    font-size: 1.4em;
    line-height: 26px;

}
.stat.smaller .label {
text-align:center;
font-size:0.8em;

}