.menu2 {
     position: absolute;
      right: -54px;
    top:20px;
}
.menuButton img {
    width: 29px;
    margin-top: 10px;
    margin-left: 14px;
}

.menuButton {
    display: block;
    width: 50px;
    height: 50px;
    position: relative;
    background: rgba(252, 196, 56,0.9);
    margin-bottom:10px;

  
}
.saveButton{
    background: rgba(0, 89, 153,0.9);
}
.menuButton::after{
    
width: 0;
    height: 0;
    border-style: solid;
    border-width:25px 0px 25px 20px;
    border-color: transparent transparent transparent rgba(252, 196, 56,0.9);
    content: '\A0';
    position: absolute;
    right: 0px;
    top: 0px;
    margin-right: -20px;
    margin-bottom: 40px;
    /* margin-top: 0px; */    
}
.saveButton::after{
    
    border-color: transparent transparent transparent rgba(0, 89, 153,0.9);
}
.menuButton:hover{
    cursor:pointer;
    border-bottom:4px solid rgba(33,33,33,0.2);
 
}