*,
*:after,
*::before {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body,
.stContainer,
.stPusher,
.stContent {
	height: 100%;
}

.stContent {
	overflow-y: scroll;
	background: white;
    padding:20px;
    padding-left:40px;
    padding-right:40px;
}

.stContent,
.stContentInner {
	position: relative;
}

.stContainer {
	position: relative;
	overflow: hidden;
    margin-top:10px;
}

.stPusher {
	position: relative;
	left: 0;
	z-index: 99;
	height: 100%;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.stPusher::after {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	background: rgba(0,0,0,0.2);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.stMenuOpen .stPusher::after {
	width: 100%;
	height: 100%;
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.stMenu {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;

	width: 400px;
	height: 100%;
	background: url('../../../assets/new_year_background.png');
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
    padding:20px;
	padding-right:40px;
	border-right:4px solid rgba(252, 196, 56,0.9);
}

.stMenu::after {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.2);
	content: '';
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.stMenuOpen .stMenu::after {
	width: 0;
	height: 0;
	opacity: 0;
	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

/* content style */



/* Effect 9: Scale down pusher */

.stEffect.stContainer {
	-webkit-perspective: 1500px;
	perspective: 1500px;
}

.stEffect .stPusher {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.stEffect.stMenuOpen .stPusher {
	-webkit-transform: translate3d(0, 0, -300px);
	transform: translate3d(0, 0, -300px);
}

.stEffect.stMenu {
	opacity: 1;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
}

.stEffect.stMenuOpen .stEffect.stMenu {
	visibility: visible;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.stEffect.stMenu::after {
	display: none;
}

/* Fallback example for browsers that don't support 3D transforms (and no JS fallback) */
.no-csstransforms3d .stPusher,
.no-js .stPusher {
	padding-left: 300px;
}
