.sectionHead:after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 29px 0px 29px 29px;
    border-color: transparent transparent transparent #fcc438;
    content: '\00a0';
    position: absolute;
    right: 0px;
    top: 0px;
    margin-right: -29px;
	margin-bottom:40px;
    /* margin-top: 0px; */
}

.sectionHead {
    
    font-size: 1.6em;
    color: white;
    position: absolute;
    top: 15px;
    background: #fcc438;
    left: 0px;
    padding: 10px;
}