.mainheader{
    
	height:130px;
	top: 10px;
	clear:both;
    background: rgba(255,255,255,0.2);
	width:100%;
	z-index: 10000;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.mainheadercontent{
	
	
	
}
.mainheadercontent .logo {
	margin-left:30px;
	font-family: 'Overpass', sans-serif;
	font-size: 4em;
}
.mainheadercontent .logo a {
	text-decoration: none;
	color:#333;
	
}
.logo strong{
	color:#fcc438;
}
.logoContent{
	margin-top:20px;
	position:absolute;
}
.mainheadercontent .logo img{
	 width: 200px;
	 height:auto;
	 position: absolute;
	 		-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.mainheader.smaller {
    height: 75px;

    background: rgba(255,255,255,0.9);
   
   padding-bottom:30px;

    width: 100%;
}
.dulled{
	opacity:0.8;
}
.mainheader.smaller .navtoggle:before  {
	font-size:2em;
}
.mainheader.smaller .mainheadercontent .logo{
	margin-left:20px;
}
.mainheader.smaller .mainheadercontent .logo img{
	width:120px;
}
.mainheader.smaller .mainheadercontent .logo:before{
	top:62px;
	height:3px;
}
.logo:before{
	content:"\00a0";
	display: block;
	height:4px;
	width:100%;
	background:#fcc438;
	top:100px;
	left:-10px;
	position:relative;
}
.userlinks{
	float:right;
	margin-top:20px;
}
.userlinks img{
	height:40px;
}
.dm{
	width:100%;
	height:auto;
}
.headerframewrap{

	    width: 100%;
    position: absolute;
    overflow: hidden;
    height: 600px;
    top: -180px;
}
.headerframe{
	background: url('https://s3-eu-west-1.amazonaws.com/assets-cdenza.com/new_year_background.png');
	width:600px;
	height:600px;
	-ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    position:absolute;
    top:-300px;
    left:-300px;
overflow: hidden;
}
.logo:before{
	content:"\00a0";
	display: block;
	height:4px;
	width:100%;
	background:#fcc438;
	top:100px;
	left:-10px;
	position:relative;
}
.headerFrameWrap{

	    width: 100%;
    position: absolute;
    overflow: hidden;
    height: 600px;
    top: -180px;
}
.headerFrame{
	background: url('../../assets/new_year_background.png');
	width:600px;
	height:600px;
	-ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    position:absolute;
    top:-300px;
    left:-300px;
overflow: hidden;
}