body{

	margin: 0;
    position: relative;
    padding: 0;
	font-family: 'Overpass', sans-serif;
}
input[type=number] {
	width:50px;
	margin-left:10px;
	margin-right:10px;
	align:right;
}

.content{

	position:relative;
	width:100%;
}

