.navcollapse.disable-pointer-events {
    pointer-events: none !important;
}

.navcollapse {
    z-index: 1;
  
    top:120px;
}
.smaller .navcollapse{
  top:85px;
}


.js .navcollapse {
    clip: rect(0 0 0 0);
    max-height: 0;
    position: absolute;
    display: block;
    overflow: hidden
}

.navcollapse,
.navcollapse * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.navcollapse,
.navcollapse ul {
    margin: 0;
    padding: 0;
    list-style: none;

    float: right
}
.navcollapse{

    margin-bottom:15px;
    margin-top:15px;
        

}
.navcollapse li {
    float: left;
    width: 100%;
    display: block;
    	font-family: 'Overpass', sans-serif;
}
.navcollapse a {
    font-weight: 400;
    letter-spacing: 2px;
    color: white;
    text-decoration: none;
    width: 100%;
    text-transform: uppercase;
    background: #fcc438;
    border-bottom: 1px solid white;
    padding: .5em 1em;
    float: left;
        
}

.navcollapse a:focus {
    opacity:0.5;
    outline: none
}
.navcollapse a:hover {
    opacity:0.8;
   
}

.navcollapse.opened {
    max-height: 9999px
}

.navtoggle {
     position: absolute;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  text-indent: -999px;
  font-size:30px;
  overflow: hidden;
  width: 100px;
  height: 100px;
  float: right;
  right:0px;
  top:0px;
  z-index:1000;
}

.navtoggle:before {
  color:  #fcc438; /* Edit this to change the icon color */
  font-family: "responsivenav", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: 3em;
  text-transform: none;
  position: absolute;
  content: "≡";
  text-indent: 0;
  text-align: center;
  line-height: 1.1em;
  speak: none;
  width: 100%;
  top: 0;
  left: 0;
}

.navtoggle.active{
  font-size: 16px;
}
.navtoggle.active::before {
  content:"x";
  color: #fcc438;
  line-height:2.2em;
}

@media screen and (min-width: 35.25em) {
h1, .navtoggle:before {
      font-size:2em;
}
    .page-title{
        
        margin-left:0px;
    }
    .page-description{
         font-size: 1em;
          margin-left:0px;
    }
}

@media screen and (min-width: 41.25em) {

.mainheader.smaller .navcollapse{
  
  top:0px;
  background-color: transparent;
  
}
 .navcollapse{
        
        padding-right:10px;
        padding-top:0px;
        background-color:transparent;

        top:80px;
    }
    .navcollapse,
    .navcollapse ul {
        text-align: right;
       
    }

    .navcollapse li {
        float: none;
        display: inline-block;
        *display: block;
        *float: left;
        width: auto;
        margin-left: .1em;
        margin-right: .1em;
    }
.navcollapse li a:before {
  display: none;
}
    .navcollapse a {
        _float: none;
        -webkit-font-smoothing: antialiased;
        margin: 0;
        padding: 1em .7em .5em;
        font-size: 0.8em;
        background: transparent;
        color: #333;
        border: 0;
        -webkit-transition: background .5s ease;
        -moz-transition: background .5s ease;
        -o-transition: background .5s ease;
        transition: background .5s ease
    }
    .navcollapse a:hover,
    .navcollapse a:focus {
        background: white;
        color:#333;
    }

    .navcollapse .active a {
        -webkit-font-smoothing: subpixel-antialiased;
        color: white;
        background: #77DD77
    }
    .navcollapse .active a:hover {
        text-decoration: none
    }
    .navcollapse .active a:focus {
        background: #ca2d09
    }

    .js .navcollapse {
        position: relative !important;
        max-height: none
    }
        .navtoggle {
        display: none
    }
    .sybox{
        height:300px;
    }
}
@media screen and (min-width:32.5em){


.navcollapse{
  top: 165px;
}

}


